body{
  /* background-color: burlywood; */
  background-color: rgb(20, 21, 24);
}
:root{
   /* --main-border: rgb(36, 33, 27); */
   --main-border: rgb(108 100 83);
}

/* Game display */

.matrixWrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.matrix {
  position: relative;

  border-top: 15px solid var(--main-border);
  border-right: 15px solid var(--main-border);
  border-bottom: 15px solid var(--main-border);

  display: grid;
  box-sizing: border-box;
  background-color: blue;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr); 
  width: 100%;
  height: 100%; 
  /* max-width: 50vw;  */
  gap:0;
  aspect-ratio: 1;
  min-width: 650px;
  max-height: 900px;
}

.cell {
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 17px;
  box-sizing: border-box;
  width: 100%; 
  height: 100%; 
  opacity: 1;
  transition: opacity 3s;
}
.cell span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.flood{
  opacity: 0;
  border: none;
}

.darken{
  filter: brightness(0.7) !important;
}

.flip-horizontal{
  transform: scaleX(-1);
}
.popUpDiv{
  top:40%;
  left: 25%;
  width: 50%;
  height: 20%;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  background-color: rgb(242, 3, 3);
  border: 4px solid rgb(57, 28, 28);
  opacity: 1;
  transition: opacity 2s ease-in-out; 

  display: flex;
  flex-direction: column;
  align-items: center;

}
.popUpDiv.pop{
  opacity: 0.8;
}

.popUpDivText{
  font-weight: 600;
  font-size: 2rem;
  margin-top: 5%;
  align-self: center;
}
.popUpDivText2{
  font-family:'Trebuchet MS', sans-serif;
  align-self: center;
  font-size: 1rem;
}

.popUpDivButton{
  font-weight: 500;
  font-size: 1.3em;
  margin-top: 2%;
  padding: 5px 15px;
  border: 3px solid black;
  background-color: #c00000;
  align-self: center;
  transition: transform 2ms ease-in;
}
.popUpDivButton:hover{
  transform: scale(1.05);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, .5);
  cursor: pointer;

}



/* ...FULLGAME.JS */

.gameContainer{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 15%;
  max-width: 1200px;
}

.formAndDisplayWrapper{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-height: 900px;
}

.levelsFormWrapper{
  height: 80px;
  background-color: #363432;
  padding: 0% 2%;
  border-radius: 0 0 15px 15px;
  box-sizing: border-box;
  max-width: 1200px;
  min-width: 1070px;
  }

.levelsForm{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  height: 100%;
}
.level{
  border-radius: 15%;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(87, 87, 79);
  border: 4px solid black;
  margin: 5px;
}

.level.active{
  background-color: yellow;
  border: 4px solid black;
}

.formWrapper{
  box-sizing: border-box;
  background-color: var(--main-border);
  width: 450px;
  min-width: 420px;
  max-width: 420px;
  display: flex;              
  justify-content: center;    
  align-items: center; 
  padding: 17px 18px 15px 15px;
}

.form{
  box-sizing: border-box;
  background-color: rgb(217 210 156);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.livesDisplayWrapper{
  color: rgb(3, 2, 2);
  font-family:cursive;
  padding: 0px 2px 10px 2px;

  background-color: var(--main-border);
}
.livesDisplay{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  background-color: rgb(0 172 0);
  background: repeating-linear-gradient(-45deg, #27ae60, #27ae60 10px, #8e7e3d 10px, #8e7e3d 20px);

}

.gameLegendWrapper{
  margin-top: auto;
  
}
.gameLegend{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0% 4%;

}

.legendItem{
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  padding-left: 5%;
  margin: 2.5px;
  margin-left: auto;

}

.colorItem{
  margin-left: 10px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
.labelItem{
  padding-left: 15px;
  align-self: center;
  font-family: cursive;
}

.taskProgressWrapper{
  padding: 5%;
  display: flex;
  justify-content: center;
}

.taskProgress{
  border: 4px solid green;
  font-weight: 550;
  font-size: 18px;
  background-color: rgb(133 192 87);
  border-radius: 15px;
  width: 90%;
  height: 60px;
}


.levelsWrapper{
  border-top: 15px solid var(--main-border);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding: 10%;
}
.levelLabel{
  color: white;
  font-weight: 550;
  width: 100%;
  text-align: center;
}

.avatarWrapper{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.avatarLabel{
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  color: #2d1f12;
  font-size: 18px;
  align-self: center;
}


.avatarForm{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
}


.avatarButton{
  font-size: 28px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-color: #ab8e71;
  border-radius: 15%;
}
.avatarButton:active{
  transform: scale(0.95);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}
.avatarButton.selected {
  /* background-color: #9e7a57;  */
  color: white;
  border: 2px solid black;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1); 
  transform: scale(1.1);

}.avatarButton.selected:hover {
  color: white;
  border: 3px solid black;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

.avatarButton:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgb(255, 255, 255); 
}

.selectForm{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.selectWrapper{
  justify-content: center;
  align-items: center;
}
.select1{
  margin-top: 15px;
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
  align-self: center;
  width: 80%;
  background-color: #ab8e71;
  border: 2px solid #ab8e71;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px; 
}
option{
  font-weight: 600;
}
